.header{
  display:flex;
  justify-content: space-between;
  background-color: bisque;
  padding: 10px 20px;
}
body{
  margin: 0;
  padding: 0;
}
.header ul{
  display: flex;
  list-style-type:none;
  margin: 0;
  padding:0;
  /* justify-content: space-between;
  width:200px; */
  gap: 20px;
  align-items: center;
}

.header ul li{
  padding: 10px;
  text-decoration: none;
}
.header .link h1{
  margin: 0;
  font-size: 30px;
}

.header .link{
  text-decoration: none;
  font-size: 20px;
}
